@model iMarket.Models.Product

@{
    ViewData["Title"] = Model.ProductName + " • Thông tin sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-3">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="AdminProducts" asp-action="Index">Quản lý sản phẩm</a></li>
        <li class="breadcrumb-item active" aria-current="page">Thông tin sản phẩm</li>
    </ol>
</nav>

<div>
    <div class="card">
        <div class="card-body">
            <div class="t-item">
                <div class="t-header">
                    <span>THÔNG TIN CHUNG</span>
                </div>
                <div class="t-content">
                    <div class="row flex-content">
                        <div class="col-4">
                            <div class="form-group">
                                <div class="d-flex justify-content-center align-items-center">
                                    <img src="@Url.Content("~/images/products/" + Model.Thumbnail + "?v=" + DateTime.Now.Ticks)" alt="Image Preview" style="width: 100%; height:15rem; object-fit:contain" />
                                </div>                                
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="row">
                                <div class="col-6">
                                    <div class="w-100 flex-content">
                                        <div class="editor-label text-al-end">
                                            <span>Mã sản phẩm:</span>
                                        </div>
                                        <div class="editor-field">
                                            <span class="font-bold text-danger mg-l-1">@Html.DisplayFor(model => model.ProductId)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="w-100 flex-content">
                                        <div class="editor-label text-al-end">
                                            <span>Tên sản phẩm:</span>
                                        </div>
                                        <div class="editor-field">
                                            <span class="font-bold text-value mg-l-1">@Html.DisplayFor(model => model.ProductName)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6">
                                    <div class="w-100 flex-content">
                                        <div class="editor-label text-al-end">
                                            <span>Danh mục:</span>
                                        </div>
                                        <div class="editor-field">
                                            <span class="font-bold text-value mg-l-1">@Html.DisplayFor(model => model.Category.CategoryName)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="w-100 flex-content">
                                        <div class="editor-label text-al-end">
                                            <span>Đơn giá:</span>
                                        </div>
                                        <div class="editor-field">
                                            <span class="font-bold text-value mg-l-1">@Model.UnitPrice.Value.ToString("#,##0") vnđ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6">
                                    <div class="w-100 flex-content">
                                        <div class="editor-label text-al-end">
                                            <span>Discount:</span>
                                        </div>
                                        <div class="editor-field">
                                            <span class="font-bold text-value mg-l-1">@Html.DisplayFor(model => model.Discount) %</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="w-100 flex-content">
                                        <div class="editor-label text-al-end">
                                            <span>Tồn kho:</span>
                                        </div>
                                        <div class="editor-field">
                                            <span class="font-bold text-value mg-l-1">@Html.DisplayFor(model => model.UnitsInStock)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6">
                                    <div class="w-100 flex-content">
                                        <div class="editor-label text-al-end">
                                            <span>Ngày tạo:</span>
                                        </div>
                                        <div class="editor-field">
                                            <span class="font-bold text-value mg-l-1">@Html.DisplayFor(model => model.DateCreated)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="w-100 flex-content">
                                        <div class="editor-label text-al-end">
                                            <span>Ngày cập nhật:</span>
                                        </div>
                                        <div class="editor-field">
                                            <span class="font-bold text-value mg-l-1">@Html.DisplayFor(model => model.DateModified)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6">
                                    <div class="w-100 flex-content">
                                        <div class="editor-label text-al-end">
                                            <span>Công khai:</span>
                                        </div>
                                        <div class="editor-field">
                                            <span class="font-bold text-value mg-l-1">@Html.DisplayFor(model => model.Active)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="w-100 flex-content">
                                        <div class="editor-label text-al-end">
                                            <span>Bán chạy:</span>
                                        </div>
                                        <div class="editor-field">
                                            <span class="font-bold text-value mg-l-1">@Html.DisplayFor(model => model.BestSellers)</span>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                            <div class="row mt-3">
                                <div class="col-6">
                                    <div class="w-100 flex-content">
                                        <div class="editor-label text-al-end">
                                            <span>Trang đầu:</span>
                                        </div>
                                        <div class="editor-field">
                                            <span class="font-bold text-value mg-l-1">@Html.DisplayFor(model => model.HomeFlag)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="t-item">
                <div class="t-header">
                    <span>THÔNG TIN SEO</span>
                </div>
                <div class="t-content">
                    <div class="row flex-content">
                        <div class="col-4">
                            <div class="w-100 flex-content">
                                <div class="editor-label text-al-end">
                                    <span>Tiêu đề:</span>
                                </div>
                                <div class="editor-field">
                                    <span class="font-bold text-value mg-l-1">@Html.DisplayFor(model => model.Title)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="w-100 flex-content">
                                <div class="editor-label text-al-end">
                                    <span>Tags:</span>
                                </div>
                                <div class="editor-field">
                                    <span class="font-bold text-value mg-l-1">@Html.DisplayFor(model => model.Tags)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="w-100 flex-content">
                                <div class="editor-label text-al-end">
                                    <span>Alias:</span>
                                </div>
                                <div class="editor-field">
                                    <span class="font-bold text-value mg-l-1">@Html.DisplayFor(model => model.Alias)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row flex-content mt-3">
                        <div class="col-4">
                            <div class="w-100 flex-content">
                                <div class="editor-label text-al-end">
                                    <span>Meta Desc:</span>
                                </div>
                                <div class="editor-field">
                                    <span class="font-bold text-value mg-l-1">@Html.DisplayFor(model => model.MetaDesc)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="w-100 flex-content">
                                <div class="editor-label text-al-end">
                                    <span>Short Desc:</span>
                                </div>
                                <div class="editor-field">
                                    <span class="font-bold text-value mg-l-1">@Html.DisplayFor(model => model.ShortDesc)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="w-100 flex-content">
                                <div class="editor-label text-al-end">
                                    <span>Meta Key:</span>
                                </div>
                                <div class="editor-field">
                                    <span class="font-bold text-value mg-l-1">@Html.DisplayFor(model => model.MetaKey)</span>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <div class="row flex-content mt-3">
                        <div class="col-4">
                            <div class="w-100 flex-content">
                                <div class="editor-label text-al-end">
                                    <span>Video:</span>
                                </div>
                                <div class="editor-field">
                                    <span class="font-bold text-value mg-l-1">@Html.DisplayFor(model => model.Video)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="t-item">
                <div class="t-header">
                    <span>MÔ TẢ</span>
                </div>
                <div class="t-content">
                    <div class="des-content">
                        <span class="font-bold mg-l-1">@Html.DisplayFor(model => model.Description)</span>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>