@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<iMarket.Models.Page>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách trang";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-3">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">Danh sách trang</li>
    </ol>
</nav>

<div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">DANH SÁCH TRANG - TRANG @CurrentPage</h4>
            <div class="row">                
                <div class="col-md-12 mb-4">
                    <p class="float-end">
                        <a asp-action="Create" class="btn icon icon-left btn-primary"><i data-feather="plus-square"></i> Tạo mới</a>
                    </p>
                </div>

            </div>
            <div class="row" id="table-borderless">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-borderless mb-0">
                            <thead>
                                <tr>
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Tên trang
                                    </th>
                                    <th>
                                        Trạng thái
                                    </th>
                                    <th>
                                        Thao tác
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PageId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PageName)
                                            </td>
                                            <td>
                                                @if (item.Published == true)
                                                {
                                                    <div class="d-flex align-items-center">
                                                        <span class="badge bg-success">Công khai</span>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="d-flex align-items-center">
                                                        <span class="badge bg-danger">Riêng tư</span>
                                                    </div>
                                                }
                                            </td>
                                            <td>
                                                <a asp-action="Details" asp-route-id="@item.PageId" class="btn icon icon-left btn-info" title="Xem chi tiết"><i data-feather="info"></i></a> |
                                                <a asp-action="Edit" asp-route-id="@item.PageId" class="btn icon icon-left btn-success" title="Chỉnh sửa"><i data-feather="edit"></i></a> |
                                                <a asp-action="Delete" asp-route-id="@item.PageId" class="btn icon icon-left btn-danger" title="Xóa"><i data-feather="delete"></i></a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="dataTable-bottom">
                <ul class="pagination pagination-primary float-end dataTable-pagination">
                    <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminPages" asp-action="Index"></pager>
                </ul>
            </div>
        </div>
    </div>
</div>